.searchResults {
  grid-column-start: 1;
  grid-column-end: 3;
}
.searchResults a {
  font-size: 12pt;
  color: rgba(162, 49, 1, .80);
  text-decoration: none;
}
.searchResult {
  clear: right;
  min-height: 12vh;
  max-height: 12vh;
}
.search-img {
  float: left;
  width: 10vh;
  height: 10vh;
}
.search-img img {
  display: block;
  margin: auto;
  max-width: 10vh;
  max-height: 10vh;
}
